:root {
    --cta: #73FBD3;
    --blue: #27336E;
    --purple: #8478F8;
    --white: #f9f9ff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    font-family: 'Rubik', sans-serif;
    font-size: 62.5%;
    color: var(--white);
    background-color: red;
}

a {
    color: var(--white);
}

.intro {
    width: 100%;
    height: 500px;
    background-color: #27336e;
    background-image: linear-gradient(160deg, #27336e 0%, #8478f8 100%);
}

.navbar {
    padding: 16px;
    box-shadow: 0 0 1px var(--white);
}

.navbar__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.navbar__name {
    display: flex;
    transition: all 0.25s linear;
}

.navbar__name--logo {
    width: 30px;
    height: 25px;
}

.navbar__name--title {
    font-size: 2rem;
    font-weight: 600;
    margin-left: 10px;
}

#menu_on-off {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}

.navbar__toggle-button {
    display: block;
    width: 30px;
    height: 25px;
    cursor: pointer;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    transition: all 0.25s linear;
}

.navbar__toggle-button span {
    width: 50%;
    height: 3px;
    background-color: var(--white);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    display: block;
    margin-left: 50%;
    transition: all 0.2s ease-out;
}

.navbar__toggle-button span:nth-child(2) {
    width: 100%;
    margin-left: 0;
}

.navbar__toggle-button span:nth-child(3) {
    margin-left: 0;
}

#menu_on-off:checked~.navbar__name {
    transition: all 0.25s linear;
    transform: translate(-260px, 0);
    -webkit-transform: translate(-260px, 0);
    -moz-transform: translate(-260px, 0);
    -ms-transform: translate(-260px, 0);
    -o-transform: translate(-260px, 0);
}

#menu_on-off:checked+.navbar__toggle-button {
    transition: all 0.25s linear;
    transform: translate(-260px, 0);
    -webkit-transform: translate(-260px, 0);
    -moz-transform: translate(-260px, 0);
    -ms-transform: translate(-260px, 0);
    -o-transform: translate(-260px, 0);
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
}

#menu_on-off:checked+.navbar__toggle-button span {
    position: relative;
    top: calc(100% / 2.5);
    width: 100%;
    margin-left: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

#menu_on-off:checked+.navbar__toggle-button span:nth-child(2) {
    top: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

#menu_on-off:checked+.navbar__toggle-button span:nth-child(3) {
    top: calc(100% / -1.5);
    visibility: hidden;
}

.navbar__menu {
    background-color: var(--blue);
    width: 260px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -260px;
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
    box-shadow: 0 0 2px var(--white);
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
}

.navbar__menu--list-item {
    padding: 28px 36px 0;
}

#menu_on-off:checked~.navbar__menu {
    right: 0px;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation__avatar {
    width: 124px;
    height: 124px;
    margin-top: 63px;
}

.presentation__title {
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 24px;
}

.presentation__phrase {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 24px;
}

.presentation__rrss {
    display: flex;
    justify-content: space-between;
    width: 184px;
    height: 24px;
    margin-top: 24px;
}

.presentation__rrss--item img {
    width: 24px;
    height: 24px;
}

.scroll {
    margin: 26px 0;
}

.scroll__title {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.scroll__container {
    padding: 1.2rem 1rem;
    border: 3px solid var(--white);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-left: 2px;
    animation: alternate 2s infinite;
    -webkit-animation: alternate 2s infinite;
}

.scroll__container--point {
    font-weight: 600;
    font-size: 5rem;
    position: absolute;
    border: 4px solid var(--white);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 4px;
    height: 4px;
    background-color: var(--white);
    top: 43.1rem;
    left: 15.6rem;
    animation: down 2s infinite;
    -webkit-animation: down 2s infinite;
}



@keyframes down {
    0% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 15px);
        -webkit-transform: translate(0, 15px);
        -moz-transform: translate(0, 15px);
        -ms-transform: translate(0, 15px);
        -o-transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
}
}