.about {
    height: 43rem;
    position: relative;
}
.about__img {
    width: 17rem;
    height: 17rem;
    position: absolute;
    top: 9.2rem;
    /* left: 10.4rem; */
    left: 15%;
}
.about__description {
    width: 24.8rem;
    position: absolute;
    top: 10.8rem;
    /* right: 13.6rem; */
    right: 16%;
}
.about__button {
    position: absolute;
    top: 21.2rem;
    /* right: 20.8rem; */
    right: 25%;
}
.about__skills {
    position: absolute;
    top: 28rem;
    left: calc(50% - 12.4rem);
}